{% extends "home_layout.html" %}
{% block content %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/homepage.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script>
    </script>
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="homepage_logo" src="{{ url_for('static', filename='images/'+ 'logo.png') }}"
                 alt="logo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center homepage_font">
            Do It Now!
        </div>
            <div class="col-md-12 text-center homepage_font">
                Find Your Favorite Neighborhood Now.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
				<button type='button' id='start_button' onclick="startSystem()">Start!</button>
			</div>
        </div>
{% endblock %}

